*/secrets.yaml
.ipynb_checkpoints
__pycache__
.DS_Store
*/helper.txt
Chart.lock
.env
*.tgz
helper.txt
hack.sh
*.sh

*.tgz
*.lock
charts/
releases/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
*.tfbackend
*.hcl
*.pem
*.pub
*.crt
*.key
*.log
